* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 0;
	border: none;
}

body {
	margin: 0;
	background: black;

	&, * {
		color: white;
	}
}

main {
	background: white;

	&, * {
		color: black;
	}
}

q {
	quotes: "« " " »";
	/* Example for French-style quotes */
}
