* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 0;
	border: none;
	box-sizing: border-box;
}

body {
	margin: 0;
}

q {
	quotes: "« " " »";
	/* Example for French-style quotes */
}

button, select, input {
	background: black;
	color: white;
	border: none;
}
input, textarea {
	/*border: 2px black solid;*/
}

button:not([disabled]), summary {
  cursor: pointer;
}

a {
  color: inherit;
}

hr {
	margin: 1rem 0;
	max-width: 5rem;
	border: 2px black solid;
}

[disabled] {
	opacity: 50%;
	cursor: not-allowed;
}

.box {
	border: solid black 2px;
	padding: .5rem;
}

.flexible-div {
	display: flex;
	flex-direction: column;
}
.full-div {
	height: 100%;
	width: 100%;
}
