* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 0;
	border: none;
	box-sizing: border-box;
}

body {
	margin: 0;
}

q {
	quotes: "« " " »";
	/* Example for French-style quotes */
}

button, select {
	background: black;
	&, * {
		color: white;
	}

	border: none;
}
input, textarea, hr {
	/*border: 2px black solid;*/
}

[disabled] {
	opacity: 50%;
	cursor: not-allowed;
}
